body {
	background-color: #fff;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

table th {
	font-weight: bold;
}

table th, table td {
	border: 1px solid #D0D0D0;
	padding: 5px;
}

.clearer {
	clear: both;
}

#wrapper {
	color: #6f6f6f;
}

#header {
	margin-bottom: 20px;
}

.navigation {
	height: 20px;
	display: block;
	list-style: none;
	position: relative;
}

.navigation > li {
	display: block;
	float: left;
}

.navigation > li > a {
	text-decoration: none;
}

#navigation {
	float: left;
	margin-left: 0px;
}

#navigation li {
	border-right: 1px solid #4e4e4e;
}

#navigation li a {
	color: #fff;
	padding: 9px 15px;
	display: block;
	font-size: 16px;
	font-weight: bold;
}

#navigation li.nav-active a {
	color: #ccc;
}

#user-info {
	float: right;
}

#content {
	margin: 0 0 20px 0;
}

#content a {
	color: #222;
}

#content a.bold {
	font-weight: bold;
}

#content table thead tr th.header {
	cursor: pointer;
}

.page-title {
	padding-bottom: 5px;
}

.page-title p {
	font-weight: bold;
	padding-left: 8px;
}

#effects_table table.list {
	width: 100%;
}

#ingredients_table table.list {
	width: 100%;
}

#ingredients_view table th a {
	font-weight: bold;
}

#calc_ingredients tr {
	cursor: pointer;
}

#calc_selected td {
	cursor: pointer;
}

#uploaded {
	width: 100px;
}

#footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	padding: 0 10px 0 10px;
}